<!DOCTYPE html>
<html lang="en">

  <head>
      <style type="text/css">
      <!--
      body{background: url("static/images/pagina.png") no-repeat top center;
            background-size:100% ;
            height: 777vh;
              }
      ->
    </style>
    <link rel="stylesheet" href="/static/css/productos.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/productos.js"></script>
  </head>

  <body>
  <span class="icon-eject1"></span>
  <span class="icon-eject2"></span>
  <span class="icon-eject3"></span>



  </body>

</html>
